@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    /* Hide the default scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Make it the same color as the background */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3fe8ab;
    /* Change color on hover */
}